<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105457995053-vr4gqu0uel7gdvs6qtif45jivu0nad7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105457995053-vr4gqu0uel7gdvs6qtif45jivu0nad7e</string>
	<key>API_KEY</key>
	<string>AIzaSyAbHDDNrle__S5BGtg143tSvhzt50UGdkE</string>
	<key>GCM_SENDER_ID</key>
	<string>105457995053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seanlim.ingredients</string>
	<key>PROJECT_ID</key>
	<string>ingredients-d6660</string>
	<key>STORAGE_BUCKET</key>
	<string>ingredients-d6660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105457995053:ios:e3ac78cb8262f265e2d7a4</string>
</dict>
</plist>